<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button class="bordered-icon-button">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered-icon-button me-2">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-input type="text" placeholder="Search">
    <ion-icon slot="start" name="search-outline"></ion-icon>

    <ion-button slot="end" color="primary">
      <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
    </ion-button>
  </ion-input>

  <!-- :: Recently View List :: -->

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
