ion-tabs {
  background-color: var(--ion-color-primary-contrast);

  ion-tab-bar {
    --background: var(--ion-color-primary-contrast);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.05);
    padding: 10px 0;
    border: none;
  }

  iob-tab-button {
    --color: #666;
    --color-selected: var(--ion-color-primary);

    ion-icon {
      font-size: var(--ion-font-size-xl);
    }
  }
}
